.main-title
  background-color: #8CD867


//aside
.aside
  background-color: #EEE5E9

//ticket
.ticket
  height: 250px

.ticket-description
  //Que la descripcion no sobrepase al ticket
  overflow-y: auto
  height: 90px

.ticket-title
  margin: 0

.ticket-status
  font-weight: bold
