.main-title
  background-color: #8CD867


//aside
.aside
  background-color: #EEE5E9

//ticket
.ticket
  height: 200px

.ticket-description
  //Que la descripcion no sobrepase al ticket
  overflow-y: auto
  height: 90px

//titulo del ticket
.ticket-title
  font-weight: bold
  font-size: 1.15em
  float: left

//status del ticket
.ticket-status
  font-weight: bold

//link de eliminar
.ticket-delete
  color: #ED4337
  font-size: 1.20em
  float: right

//link de eliminar sobre
.ticket-delete:hover
  color: #ED4337
  cursor: pointer
//header del ticket
.panel-heading
  height: 60px
  overflow: hidden
