.main-title {
  background-color: #8CD867; }

.aside {
  background-color: #EEE5E9; }

.ticket {
  height: 250px; }

.ticket-description {
  overflow-y: auto;
  height: 90px; }

.ticket-title {
  margin: 0; }

.ticket-status {
  font-weight: bold; }
