.main-title {
  background-color: #8CD867; }

.aside {
  background-color: #EEE5E9; }

.todo-text-right {
  float: right; }

.todo-text-left {
  float: left; }

.ticket {
  height: 200px; }

.ticket-description {
  overflow-y: auto;
  height: 90px; }

.ticket-title {
  font-weight: bold;
  font-size: 1.15em;
  float: left; }

.ticket-status {
  font-weight: bold; }

.ticket-delete {
  color: #ED4337;
  font-size: 1.20em;
  float: right; }

.ticket-delete:hover {
  color: #ED4337;
  cursor: pointer; }

.ticket-heading {
  height: 60px;
  overflow: hidden; }

.btn-modificar:hover {
  cursor: pointer;
  background-color: #AF9B46; }

.btn-agregar {
  margin-bottom: 10px;
  margin-left: 15px; }
